<div style="background-image: url('../Images/home.png'); height:670px; margin-left:-80px " >
    <form data-bind="submit:login">
        <div data-bind="with: request">
            <input data-bind="value: MobileNo" autofocus="autofocus" data-val="true" data-val-required="The User name field is required." id="loginName" name="UserName" type="text">
            <input data-bind="value: Password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" style="margin-left: 20px">&nbsp;
            <input type="submit" value="Log in" style="margin-left:10px">
        </div>
    </form>
</div>      