.sidebar-nav-fixed {
     position:fixed;
     top:40px;
     left:0px;
     height:100%;
     width:180px;
 }

.page-host {    
    margin-top: 60px;
    margin-left:200px;    
}

table.DTTT_selectable tbody tr {    cursor: pointer;    *cursor: hand;} 
table.dataTable tr.DTTT_selected.odd {    background-color: #9FAFD1;} 
table.dataTable tr.DTTT_selected.odd td.sorting_1 {    background-color: #9FAFD1;} 
table.dataTable tr.DTTT_selected.odd td.sorting_2 {    background-color: #9FAFD1;} 
table.dataTable tr.DTTT_selected.odd td.sorting_3 {    background-color: #9FAFD1;} 
table.dataTable tr.DTTT_selected.even {    background-color: #B0BED9;} 
table.dataTable tr.DTTT_selected.even td.sorting_1 {    background-color: #B0BED9;} 
table.dataTable tr.DTTT_selected.even td.sorting_2 {    background-color: #B0BED9;} 
table.dataTable tr.DTTT_selected.even td.sorting_3 {    background-color: #B0BED9;}


#registerForm input,
#loginForm input {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

     #registerForm input[type=text], #registerForm input[type=password],
    #loginForm input[type=text], #loginForm input[type=password] {
        background: white;
        width: 220px;
    }

#loginForm input[type=checkbox]{
    border: none;
}
 
#registerPanel{
    display: none;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
}

#loginPanel {
    display: block;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
    width: 600px;
}

#registerPanel h2,
#loginPanel h2 {
    padding-bottom: .5em;
    margin: 0;
}

#registerPanel a,
#loginPanel a {
    color: navy;
    font-weight: bold;
    cursor: pointer;
}

#registerPanel p,
#loginPanel p {
    clear: both;
}

fieldset {
    border: none;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    display: inline;
}

    fieldset legend {
        display: none;
    }

    fieldset label:not(.checkbox) {
        display: block;
        text-align: left;
    }

    fieldset ol {
        padding: 0;
        margin: 0 0 8px 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

ol.round {
    list-style-type: none;
    padding-left: 0;
}


